<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="row justify-content-center">
                <h3>
                    <i class="fa fa-user"></i> Create a new user
                </h3>
            </div>
            <form (ngSubmit)="saveUser(form)" #form="ngForm">
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="inputNationalId">National ID</label>
                    <input [ngClass]="{'is-invalid': form.submitted && natID.errors?.required}" #natID='ngModel' ngModel name="natID"  type="number" class="form-control" id="inputNationalId" required>
                    <div *ngIf="form.submitted && natID.errors?.required" class="invalid-feedback">Your national ID is required</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input ngModel name="name" type="text" class="form-control" id="inputFirstName">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="inputBirthDate">Birth Date</label>
                    <input ngModel name="birthDate" type="date" class="form-control" id="inputBirthDate">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input ngModel name="address" type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">Company</label>
                    <input ngModel name="company" type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputEmail">Email</label>
                    <input [ngClass]="{'is-invalid': form.submitted && email.errors?.required}" #email='ngModel' ngModel name="email" type="email" class="form-control" id="inputEmail" placeholder="hello@gmail.com" required>
                    <div *ngIf="form.submitted && email.errors?.required" class="invalid-feedback">Your email is required</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPhone">Phone</label>
                    <input ngModel name="phone" type="text" class="form-control" id="inputPhone">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <div class="form-check">
                      <input ngModel name="isActive" class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        Active ?
                      </label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
            
        </div>
        <div class="col"></div>
    </div>
</div>


